.view-offer {
    width: 60%;
    margin: auto;
    padding: 20px 0 50px;
}
.view-offer a {
    color: rgb(0,30,80);
    text-decoration: none;
}
.view-offer h1 {
    text-align: center;
    margin-bottom: 30px;
}
.ride-offer-wrapper {
    width: 100%;
}
.user-navigation {
    display: none;
}

@media screen and (max-width: 768px) {
    .view-offer {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .view-offer {
        width: 95%;
    }
}
