.view-offer {
    width: 60%;
    margin: auto;
    padding: 20px 0 50px;
}
.view-offer h1 {
    text-align: center;
    margin-bottom: 30px;
}
.ride-offer-wrapper {
    width: 100%;
}
.user-navigation {
    display: none;
}
