body {
    background-color: rgb(240,240,240)
}
.dash-container {
    width: 60%;
    margin: auto;
    padding: 0 20px;
}
.indicators {
    padding-top: 30px;
}
.indicators a {
    text-decoration: none;
    color: black;
}
.indicators a:hover {
    background-color: rgba(0,30,80,.5);
}

.currently-running {
    width: 100%;
    margin: auto auto 50px;
    text-align: center;
}
.running-offer, .running-bookings {
    background-color: white;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
    margin-bottom: 15px;
}
.header {
    background-color: rgb(0,30,80);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
    box-sizing: border-box;
}
.header h3, .sub-header h4 {
    margin: 0;
}
.sub-header {
    padding: 10px;
    border-bottom: 2px solid rgba(180,180,180,.3);
}

.ride-summary {
    padding: 10px 0;
}
.ride-summary .trip {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(180,180,180,.3);
}
.ride-summary .trip:hover {
    background-color: rgba(220,220,220,.8);
}

.trip span, .trip i {
    flex: 1;
}
.trip span {
    font-size: 20px;
}
.trip .fa {
    font-size: 30px;
}
.departure p {
    margin: 0;
    padding: 5px 15px;
}

.space {
    flex: .3;
}

.history {
    width: 100%;
    text-align: center;
}
.statistics-group {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
}
.statistics {
    flex: 1;
}
.statistics:first-child {
    border-right: 1px solid rgba(180,180,180,.3);
}
.statistics .sub-header {
    border: none;
}
.stat-item {
    text-align: center;
    background-color: rgb(0,30,80);
    width: 60px;
    height: 60px;
    margin: auto auto 15px;
    color: white;
    border-radius: 10000px;
}
.stat-item a, .user-nav-wrapper a {
    text-decoration: none;
    color: white;
}
.stat-item p {
    margin: auto;
    padding: 16px;
    font-size: 20px;
}
.stat-item p:hover  ~ .stat item p{
    background-color:
}

/* ------- Dash section ----------- */
.dash-section {
    padding-top: 50px;
}
.dash-section h1 {
    text-align: center;
}
.section-wrapper {
    width: 100%;
}
.ride-offer-wrapper {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .dash-container {
        width: 80%;
    }
    .currently-running, .history {
        margin: auto auto 30px;
    }
}


@media screen and (max-width: 600px) {
    .currently-running, .history {
        width: 96%;
    }
}
