#message {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}
#spinner {
    position: absolute;
    right: 15px;
    font-size: 22px;
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}
.loading {
    width: 100%;
    padding: 30vh 0;
    color: rgb(0,30,80);
    text-align: center;
}
.loading .fa {
    font-size: 100px;
}
.profile-completeness {
    position: fixed;
    display: none;
    opacity: 0;
    background-color: white;
    bottom: 30px;
    right: 20px;
    width: 75px;
    padding: 10px;
    border-radius: 150px;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,.4);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
#description {
    display: none;
    text-align: center;
    vertical-align: middle;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
#description p {
    margin: 0;
}
#description a {
    text-decoration: none;
    color: rgb(14,113,198);
}
#profileCompletenessIndicator {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    margin: auto 0 auto auto;
    padding: 15px 0;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 2500px;
}
.no-running {
    font-style: italic;
    font-size: 15px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}
.no-running a {
    text-decoration: none;
    color: rgb(14,113,198);
    font-weight: bold;
}
