html, body {
    width: 100%;
    height: 100%;
}
html,body {
    margin: 0;
    font-family: 'Nunito', cursive;
}

/* -----------Banner visible Section---------- */
.banner {
    background-image: url('../img/index.jpg');
}
.tint {
    position: relative;
    background-color: rgba(0,10,40,.6);
}
/* ---------- navigation -----------*/
/* As is in master */


/* ---------- Content division ------------- */
.content-wrapper .mantra {
    width: 100%;
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
}

/* search division */
.search-area {
    width: 100%;
    margin: auto auto 50px;
    text-align: center;
}
.search-wrapper {
    background-color: rgba(0,0,0,.2);
    width: 80%;
    margin: auto;
    padding: 20px 40px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 0 rgba(200,200,200,.2);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.seach-form {
    width: 100%;
}
.search-form form {
    display: flex;
    width: 100%;
}
.search-form input, .search-form button {
    height: 40px;
    font-family: 'Nunito';
    font-size: 18px;
    border-radius: 5px;
}
.search-form input {
    text-indent: 10px;
    border: none;
    flex-grow: 4;
}
.search-form input::placeholder {
    font-style: italic;
}
.search-form input:focus {
    outline: none;
    border: 1px solid rgb(0,30,80);
}
.search-form button {
    flex-grow: 1;
    background: linear-gradient(to right, rgb(14,113,191) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    margin-left: 5px;
    font-weight: bold;
    color: rgb(0,30,80);;
    cursor: pointer;
    border: none;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.search-form button:hover {
    background-position: left;
    color: white;
}
.btn-container {
    width: 200px;
    margin: auto auto 50px;
    padding: 10px;
    background-color: rgb(14,113,191);
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.btn-container:hover {
    background-color: rgba(14,113,191,.6);
}
.btn-container a {
    width: 100%;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 992px) {
    .container {
        padding: 0 3%;
    }
    .offer-details {
        flex-basis: 100%;
    }
    .offer-price {
        flex-basis: 100%;
    }
    .view-offer-btn {
        height: 140px;
    }
}


@media screen and (max-width: 768px) {
    .navigation-bar {
        font-size: 18px;
    }
    .navigation-brand {
        width: 100px;
    }
    .navigation-brand img {
        height: 39px;
    }
    .navigation {
        flex-basis: auto;
        display: flex;
        height: auto;
    }
    .navigation-ul {
        display: unset;
        margin: auto 10px auto auto;
        padding: 0;
    }
    .navigation-li {
        width: auto;
    }
    .content-wrapper {
        width: 100%;
        padding: 0 5%;
    }
    .search-wrapper {
        width: 80%;
    }
    .seach-form {
        width: 100%;
    }
    .ride-offer-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .content-wrapper .mantra {
        width: 80%;
        font-size: 20px;
        margin: auto;
    }
    .search-wrapper {
        width: 100%;
        padding: 10px 20px 20px;
    }
    .search-form form {
        flex-direction: column;
    }
    .search-form input, .search-form button {
        height: 35px;
    }
    .search-form input {
        flex-basis: 100%;
        margin-bottom: 10px
    }
    .search-form button {
        flex-basis: 100%;
        margin-left: 0;
    }
    .container {
        padding: 0 15px;
    }
    .ride-offer-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 455px) {
    .mantra h1 span {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .content-wrapper .mantra {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-height: 500px) {
    .mantra h1 {
        margin: 10px auto;
    }
    .banner .btn-container {
        margin: auto auto -40px;
    }
}
