html,body {
    margin: 0;
    font-family: 'Nunito', cursive;
}
.fa-share {
    color: rgb(0,100,10);
    font-size: 25px !important;
}
.fa-reply {
    color: rgb(100,10,0);
    font-size: 25px !important;
}
.universal-btn {
    background-color: rgb(14,113,191);
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.payment-information {
    font-size: 14px;
    font-weight: bold;
    color: rgba(100,10,0,.8);
    padding: 10px;
    text-align: center;
}
#message {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}
#spinner {
    position: absolute;
    right: 15px;
    font-size: 22px;
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}
.loading {
    width: 100%;
    padding: 30vh 0;
    color: rgb(0,30,80);
    text-align: center;
}
.loading .fa {
    font-size: 100px;
}
/* ---------Navigation-----------*/
.navigation-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    padding: 7px 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.navigation-brand {
    display: inline-block;
    width: 130px;
    padding: 5px;
}
.navigation-brand img {
    width: 100%;
    height: 50px;
}
.navigation-toggler {
    display: none;
    background-color: transparent;
    font-size: 30px;
    color: white !important;
    border: 1px solid white;
    border-radius: 5px;
}
.navigation-toggler:focus {
    background-color: rgb(14,113,191);
    color: white !important;
    border: 2px solid white;
    outline: none;
}

/* --------- Nav div ---------- */
.navigation {
    margin: 0 0 0 auto;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.navigation-items-wrapper {
    display: flex;
    flex-direction: row;
}

/* navigation placeholder */
.navigation p {
    font-size: 14px;
    font-style: italic;
    color: white;
    margin-right: 25px;
}

/* -------Navigation form --------- */
.navigation-form {
    margin-right: 140px;
}
.navigation-form input {
    width: 220px;
    height: 35px;
    text-indent: 10px;
    color: rgb(0,30,80);
    border: none;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.navigation-form input::placeholder {
    font-style: italic;
}
.navigation-form input:focus {
    outline: none;
    border: 1.5px solid rgb(14,113,191);
    text-indent: 15px;
}
.navigation-form button {
    background-color: transparent;
    width: 70px;
    height: 35px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.navigation-form button:hover {
    background-color: white;
    color: rgb(0,30,80);
}

/* --------- Navigation ul --------- */
.navigation-ul {
    flex-direction: row;
    background-color: rgb(0,30,80);
    margin: 0 15px 0 auto;
    padding: 0;
}
.navigation-li {
    display: inline-block;
    text-align: center;
}

.navigation-li a, #logout {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
}
#logout {
    cursor: pointer;
}
.navigation-li a:hover {
    border: 1px solid white;
}
#logout:hover {
    border: 1px solid white;
}
.user-navigation {
    display: flex;
    align-items: center;
    background-color: rgb(14,113,191);
    width: 100%;
    padding: 5px 20px;
    font-size: 23px;
    color: white;
    text-align: center;
}
.user-nav-wrapper {
    display: flex;
    margin: auto;
}
.user-nav-wrapper .dash-icon {
    margin-right: 35px;
}
.user-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user-wrapper .avatar {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.user-wrapper .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}
.fa {
    cursor: pointer;
}
.user-navigation .fa:hover {
    color: rgba(225,225,225,.9);
}
.avatar:hover {
    background-color: rgba(235,235,235,.9);
}
.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.dropdown-ul {
    background-color: rgb(0,30,80);
    width: 100%;
    margin: 0;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,.4);
}
.dropdown-li {
    list-style-type: none;
}

.dropdown-li a {
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 2px 0;
    border-top: 1px solid rgba(180,180,180,.4);
}
.dropdown-li:last-child {
    border-bottom: 1px solid rgba(180,180,180,.4);
}
.dropdown-li a:hover {
    background-color: white;
    color: rgb(0,30,80);
}

/* ---------- Banner and background tints ---------- */
.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.tint {
    width: 100%;
    height: 100%;
}


/* ------------ Absolutely placed content wrapper ----------- */
.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* ---------------- Form ------------------ */
.form {
    width: 70%;
    margin: auto auto 50px;
    padding: 30px 0;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,10,.3);
}
.form-header, .form-body, .intro {
    border-bottom: 1px solid rgba(180,180,180,.3);
}
.form-header .logo {
    width: 130px;
    margin: auto auto 10px;
}
.logo img {
    width: 100%;
    height: 50px;
}
.form-body, .form-footer {
    padding: 15px 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.input-group {
    display: flex;
}
.input-wrapper {
    flex: 1;
    margin-right: 50px;
}
.input-wrapper:last-child {
    margin-right: 0;
}
.input-wrapper {
    margin-bottom: 20px;
}
.input-wrapper label, .input-wrapper input, select, .form-btn {
    display: block;
    font-size: 20px;
}
.input-wrapper input, select {
    width: 100%;
    height: 40px;
    color: rgb(0,30,80);
    text-indent: 10px;
    border: none;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.input-wrapper input::placeholder {
    font-style: italic;
    font-size: 18px;
}
.input-wrapper input:focus {
    text-indent: 15px;
}
.btn-wrapper {
    width: 100%;
    text-align: center;
}
.form-btn {
    background-color: rgb(14,113,191);
    width: 100%;
    height: 40px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.form-btn:hover {
    background-position: left;
    color: white;
}
.form-footer {
    display: flex;
    padding: 15px 30px;
}
.forgot-password, .sign-up {
    flex: 1;
}
.sign-up {
    text-align: right;
}
.form-footer a {
    text-decoration: none;
    color: white;
}
.form-footer a:hover {
    color: rgba(14,113,191)
}

/* ----- Ride button ------ */
.btn-container {
    width: 200px;
    margin: auto auto 50px;
    padding: 10px;
    background-color: rgb(14,113,191);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.btn-container:hover {
    background-color: rgba(14,113,191,.6);
}
.btn-container a {
    width: 100%;
    color: white;
    text-decoration: none;
}

/* --------Footer Information-------- */
footer {
    background-color: black;
    padding: 70px 0;
    color: rgb(180,180,180);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
footer h3 {
    text-align: center;
}
.footer-wrapper {
    display: flex;
}
.footer-wrapper div:nth-child(2) {
    padding: 0 10px;
}


@media screen and (max-width: 900px) {
    .navigation-form {
        margin-right: 70px;
    }
}

@media screen and (max-width: 800px) {
    .navigation-form {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .navigation-bar {
        font-size: 18px;
    }
    .navigation-toggler {
        display: inline-block;
        margin: 0 20px 0 auto;
    }
    .navigation {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .navigation-items-wrapper {
        flex-wrap: wrap;
        text-align: center;
    }
    .navigation-form {
        width: 100%;
        margin: 15px 0;
    }
    .navigation-ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navigation-li {
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }
    .navigation-li a:hover {
        border: none;
        background: none;
        color: red;
    }
    .user-nav-wrapper .dash-icon {
        margin-right: 25px;
    }
    .input-group {
        flex-direction: column;
    }
    .input-wrapper {
        margin-right: 0;
    }
}


@media screen and (max-width: 500px) {
    .form-body, .form-footer {
        padding: 15px 20px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    #message {
        width: 96%;
    }
}
