.profile {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding-bottom: 1px;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
}
.profile-header {
    background-color: rgb(0,30,80);
    padding: 15px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.profile-header h2 {
    margin: 0;
}
.profile-body {
    padding: 5px 30px;
}
.profile-item-wrapper {
    display: flex;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(180,180,180,.3);
}
.profile-item-wrapper:last-child {
    border-bottom: none;
}
.profile-item {
    flex-basis: 45%;
    opacity: .5;
}
.item-details {
    flex-basis: 55%;
    text-align: left;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .offer-details {
        text-align: center;
    }
    .profile-item-wrapper {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .profile-item, .item-details {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .profile {
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    .view-offer {
        width: 96%;
    }
}
