/* ------ Blue navigation for non index pages ---- */
.navigation-bar {
    background-color: rgb(0,30,80);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.5);
}

/* ----Container for index */
.container {
    padding: 0 7%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.best-offers {
    padding: 60px 0 20px;
    text-align: center;
}
.best-offers h1 {
    font-size: 23px;
    margin: 0 auto 60px;
}

.ride-offer-wrapper {
    background-color: white;
}

.ride-offer-wrapper, .view-offer-details {
    display: flex;
    width: 70%;
    margin: auto auto 50px;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 2px 40px -2px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.ride-offer-wrapper a {
    text-decoration: none;
}
.ride-offer {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.offer-details {
    flex-grow: 4;
    display: flex;
    align-items: center;
    text-align: left;
}
/* start: children of .offer-details */
.from {
    flex-grow: 2;
    flex-basis: 0;
    text-align: center;
}
.from h3, .from p, .to h3, .to p {
    margin: 0;
}
.arrow-icon {
    flex-grow: 2;
    flex-basis: 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0,30,80);
    text-align: center;
}
.to {
    flex-grow: 2;
    flex-basis: 0;
    text-align: center;
}
/* end: children of .offer-details */

.offer-price {
    flex-grow: 1;
    text-align: center;
}
.view-offer-btn {
    display: flex;
    align-items: center;
    background-color: rgb(0,30,80);
    width: 20px;
    height: 100%;
    margin: auto 0 auto auto;
    text-align: center;
    border-radius: 0 5px 5px 0;
}
.view-offer-btn:hover {
    background-color: rgb(14,113,191);
}

/* ----for index ---- */
.fa-caret-right {
    display: block;
    margin-left: 6px;
    font-size: 30px !important;
    color: white;
}
