html, body {
    width: 100%;
    height: 100%;
}
.banner {
    background-image: url('../img/sign-up.jpg');
    height: 100%;
    margin: 0;
}
.tint {
    background-color: rgba(0,30,80,.8);
    height: 100%;
}
.navigation-bar {
    display: block;
    text-align: center;
}
.form {
    position: relative;
    width: 400px;
    margin: 50px auto auto;
    padding: 10px;
    box-shadow: none;
}
.intro {
    text-align: center;
}
.intro h2 {
    margin: 0;
}
.intro p {
    margin: 0 20px 5px;
}
.intro a {
    text-decoration: none;
    background-color: rgba(0,0,0,.3);
    padding: 3px 5px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.intro a:hover {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.7);
}
.form-body, .intro {
    border: none;
}

.form-btn {
    margin: auto;
}
.input-wrapper {
    margin: 0 0 20px !important;
}
.input-wrapper input {
    margin: 0 !important;
}
.input-wrapper input::placeholder {
    font-style: normal;
}
.intro:last-child {
    margin-top: 20px;
}
.btn-wrapper button {
    position: relative;
}
#spinner {
    position: absolute;
    right: 15px;
    font-size: 22px;
    opacity: 0;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}


@media screen and (max-width: 768px) {
    .form {
        margin: 20px auto auto;
    }
    .input-wrapper:first-child {
        margin-right: 0 !important;
    }
    .input-wrapper input {
        height: 35px;
    }
    .input-wrapper input::placeholder {
        font-style: normal;
        font-size: 14px;
    }
    .form-btn {
        font-size: 18px;
    }
    .message {
        top: -10px;
    }
}

@media screen and (max-width: 450px) {
    .form {
        width: 95%;
    }
}
@media screen and (max-width: 350px) {
    .message {
        width: 200px;
        top: 0;
    }
}

@media screen and (max-height: 500px) {
    .form {
        margin: 10px auto auto;
    }
}
