html, body {
    height: auto;
}
.banner {
    background-image: url('../img/sign-up.jpg');
}
.tint {
    padding-top: 50px;
}
.sign-up-wrapper {
    background-color: rgba(0,30,80,.3);
    width: 70%;
    margin: auto auto 50px;
    padding: 30px 0;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,10,.3);

}
.intro {
    text-align: center;
}
.form-body {
    border: none;
}
.input-group {
    display: flex;
}
.input-wrapper {
    flex: 1;
    margin-right: 10px;
}
.input-wrapper:last-child {
    margin-right: 0;
}
.form-btn {
    width: 200px;
    margin: auto;
}
