html, body {
    height: auto;
}
.banner {
    background-image: url('../img/sign-up.jpg');
}
.tint {
    position: relative;
    background-color: rgba(0,30,80,.6);
    padding-top: 20px;
}
.form {
    background-color: rgba(0,30,80,.3);

}
.intro {
    text-align: center;
}
.intro p {
    margin: 0 20px 20px;
}
.intro a {
    text-decoration: none;
    background-color: rgba(0,0,0,.3);
    padding: 3px 5px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
.intro a:hover {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.7);
}
.form-body {
    border: none;
}

.form-btn {
    width: 200px;
    margin: auto;
}


@media screen and (max-width: 992px) {
    .form {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 95%;
    }
}
